/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/tmp
/log
/tmp/
/vendor/assets/node_modules/
/vendor/assets/public/

# Ignore Byebug command history file.
.byebug_history
